/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background-img {
  background-image: url("/static/assets/img/login/academia.jpg"); /* substitua pela sua imagem */
  background-size: cover;
  background-position: center;
  flex: 1;
  filter: brightness(0.75);
}

/* Login */
.login-container {
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: absolute;
  left: 0;
  height: 100%;
}

.login-box {
  width: 100%;
  background: #111827;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
  margin-bottom: 24px;
  font-size: 28px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 6px;
  color: #fff;
}

form input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 14px;
  border: none;
  background-color: #273552;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #384663;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* colocar a imagem por trás do formulário */
  }

  .login-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* sobreposição escura para contraste */
  }

  .login-box {
    background-color: transparent;
    box-shadow: none;
  }
}
