{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" href="{% static 'assets/img/icon/icon4.ico' %}" type="image/x-icon" />
<link rel="stylesheet" href="{% static 'assets/css/event.css' %}?v=1.0">
<link rel="stylesheet" href="{%static 'assets/css/navbar_pages.css' %}?v=1.0">
<link rel="stylesheet" href="{%static 'assets/css/footer.css' %}?v=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>