{% extends "base/base_about.html" %}
{% load static %}
   
{% block content %}

  <!-- Seção sobre a academia -->
  <section id="about" class="section">
    <div class="about-container">
      <div class="about-text">
        <h2>{{ about.title_2 }}</h2>
        
          {{ about.long_description | safe }}
        
        
      </div>
      <div class="about-image">
        {% if about.image_2 %}
        <img src="{{ about.image_2.url }}" alt="Academia de Música">
        {% endif %}
        {% if about.image_3 %}
        <img src="{{ about.image_3.url }}" alt="Academia de Música">
        {% endif %}
      </div>
    </div>
  </section>
  <!-- end Seção sobre a academia -->  

{% endblock content %}